<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
                <form method="post" action="../Controller/AdminRegCheck.php" enctype="multipart/form-data" name="Reg" onsubmit="return Form()">
                                    <fieldset>
                                        <legend><h2>Employe_Registration</h2></legend>

                                  
                              

                                        User Name:
                                        <input type="text" id="userName" name="UserName" placeholder="Enter your username" /><br><br>

                                        Password:
                                        <input type="password" id="password" name="Password" placeholder="Enter your password" /><br><br>
                                      
                                        <input type="submit" id="submitBtn" name="Submit" value="Submit"/>
</fieldset>
</from>
</body>
</html>