<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="../Js/Admin.js"></script> -->
</head>
<body>
    <form method="post" action="../Controller/AdmiLogincheck.php" enctype="multipart/form-data" name="Reg" onsubmit="return Form()">
        <fieldset>
            <legend><h2>Login_admin</h2></legend>

            User Name:
            <input type="text" id="userName" name="UserName" placeholder="Enter your username" /><br><br>

            Password:
            <input type="password" id="password" name="Password" placeholder="Enter your password" /><br><br>
          
            <input type="submit" id="submitBtn" name="Submit" value="Submit"/>
        </fieldset>
    </form>

    <script>
        function validName(Username) {
            if (Username=== "")  
            {
                alert('UserName is required!');
                return false;
            }

            return true;
        }

        function validatePassword(password) 
        {
            if (password === "") {
                alert('Fill the password Properly');
                return false;
            }
            return true;
        }

        function Form() 
        {
            let userName = document.getElementById('userName').value;
            let password = document.getElementById('password').value;

            if (!validName(userName) || !validatePassword(password)) 
            {
                return false;
            }

            return true;
        }
    </script>
</body>
</html>
